.vscode
.vs
*.ipynb_checkpoints*
*__pycache__*
*.DS_Store*
dist/
build/
*.egg*
*.whl*
out
.pytest_cache
*.code-workspace
misc
data
secrets
.env
db
demo
*.log
*.old.html
.coverage
.project
settings
notebooks/data/*
notebooks/analysis*
notebooks/cpp
notebooks/*.csv
notebooks/*.json
notebooks/*.jpeg
notebooks/*.png
notebooks/*.pdf